nav ul
{
    list-style: none;
    display:flex;
    justify-content: space-around;
    background-image: linear-gradient(#282c34,#323232);
    margin: 0;
    padding: 20px;
}
nav a
{
    color: aliceblue;
    text-decoration: none;
}